<div class="feed">
  <% @posts.each do |post| %>
    <div class="feed-item">

      <% if post.instagram_url.present? %>
        <%= instagram_embed(post.instagram_url) %>
      <% end %>

      <% if post.image_url.present? %>
        <%= image_tag post.image_url,
              style: "max-width: 400px; display: block; margin: 0 auto 10px;" %>
      <% end %>

      <p><strong><%= post.caption %></strong></p>
      <hr>
    </div>
  <% end %>
</div>

<%= link_to "Add new post", new_post_path, class: "add-post" %>
